{% extends "_base.twig" %}

{% block title %}Quiz Homepage{% endblock %}

{% block jumbotron %}

    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to our quiz</h1>
            <p>This is an MVC app to show the basics.</p>
        </div>
    </div>

{% endblock %}

{% block body %}
    <div class="row">
        <p>You can <a href="/take-quiz">take a quiz</a>, or go to <a href="/control-center/">control center</a> to see
            what do we have there.</p>
    </div>
{% endblock %}