{% extends "_base.twig" %}


{% block title %}Quiz Control Center{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h3>Quiz Control Center</h3>
            <p class="btn-group"><a href="/control-center/taken-quizes" class="btn btn-primary">Taken Quizes</a><a href="/control-center/manage-quizes" class="btn btn-primary">Quizes management</a>  </p>
        </div>
    </div>
{% endblock %}

{% block body %}
{% endblock %}
