{% extends "Backend/_dashboard.twig" %}


{% block title %}Quiz Control Center{% endblock %}


{% block body %}

    <h1>Quiz Control Center</h1>

    <p>Total quizes, registered in the system: {{ quizesTotal }}, quizes taken {{ quizesTaken }}</p>
{% endblock %}
