{% extends "Backend/_dashboard.twig" %}


{% block title %}Quiz Control Center{% endblock %}


{% block body %}

    <h1>Quiz Control Center</h1>

    <p>Total quizzes, registered in the system: {{ quizzesTotal }}, quizzes taken so far: {{ quizzesTaken }}</p>
{% endblock %}
