{% extends "_base.twig" %}

{% block title %}Page not found{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h1>Page not found</h1>
            <p>Sorry, looks like that page doesn't exist.</p>
            <p>Try to start again from the <a href="/">very beginning</a>.</p>
        </div>
    </div>
{% endblock %}
