{% extends "_base.twig" %}

{% block title %}Page not found{% endblock %}

{% block body %}

    <h1>Page not found</h1>
    <p>Sorry, looks like that page doesn't exist.</p>
    <p>Try to start again from the <a href="/">beginning</a>.</p>

{% endblock %}
