{% extends "_base.twig" %}

{% block title %}Error occurred{% endblock %}

{% block body %}

    <h1>Oops, looks like we have an error here.</h1>
    <p>Sorry about this.We'll try to catch and fix this as soon as we can.</p>
    <p>You always can return to <a href="/">homepage</a>.</p>

{% endblock %}
